/* Color Palette
HEX: #a2b9bc - turquoise
HEX: #b2ad7f - military green
HEX: #878f99 - gray
HEX: #6b5b95 - purple
HEX: #ffffff - white
HEX: #001a33 - navy blue
*/


/* Global Styles
------------------------------ */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.25em;
  }
  
  h1, h2, h3 {
    font-family: 'Bahianita', cursive;
    margin: 0;
  }
  
  h1 {
    font-size: 6em;
    padding-top: .75em;
    padding-bottom: .5em;
  }
  
  h2 {
    font-size: 2.5em;
    padding-top: .75em;
    padding-left: 1.25em;
  }
  
  h3 {
    font-size: 1.75em;
    padding-bottom: .5em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }  
  
  .note:before {
    content: "★";
  }
  
  .status {
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding-bottom: 2em;
    list-style-type: square;
  }
  
  /* Header & Footer
  ------------------------------ */
  header, footer {
    background: #001a33;
    color: #ffffff;
    text-align: center;
  }
  
  header {
    height: 100vh;
    background: linear-gradient(rgba(0, 26, 51, 0.2), rgba(0, 26, 51, 0.5)), url(/images/header.jpg) no-repeat fixed;
    background-size: cover;
    padding-top: 3em;
  }
  
  header p {
    font-size: 1.5em;
    padding: 0 1em;
  }
  
  footer {
    background: url(/images/footer.jfif) no-repeat fixed;
    background-size: cover;
  }

  footer h2 {
    padding-left: 0;
    padding-bottom: .5em;
  }

  footer p {
    margin: 0;
    padding: 1.25em 0;
  }
  
  .contact a {
    font-size: 2em;
    margin: 1em; 
  }
  
  .hide {
    display: none;
  }
  
  /* Navigation
  ------------------------------ */
  nav {
    font-size: .75em;
    padding-top: 2em;
    text-align: right;
    margin-bottom: 1.75em;
    padding-right: 2.5em;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  .book-animation {
    display: inline-block;
    position: absolute;
    font-size: 3em;
    top: .5em;
    left: 1.25em;
    animation: bounce 2s ease-out 1s infinite;
  }
  
  @keyframes
  bounce {
    0% {
      top: 0.5em;
      left: 1.25em;
    }
    33% {
      top: 1.25em;
      left: 2.25em;
    }
    66% {
      top: 1.25em;
      left: 1.25em;
    }
    100% {
      top: 0.5em;
      left: 1.25em; 
    }
  }
  
  nav a {
    display: inline-block;
    padding: .75em 1em;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .drop-down {
    position: absolute;
    right: 3.25em;
    display: inline-block;
  }
  
  .nav-bar {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5em;
  }
  
  .nav-bar:hover {
    color: beige;
  }
  
  .drop-down-content a{
    display: block;
    margin: 0; 
  }
   
  /* Cards
  ------------------------------ */
  .cards {
    max-width: 20em;
    margin: 0 auto;
  }
  
  /* About
  ------------------------------ */
  .about {
    background: #c2ac99;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
  }
  
    /* Genre
  ------------------------------ */
  .genre {
    background: #b2ad7f;
  }

  
  /* Fantasy
  ------------------------------ */
  .fantasy {
    background: #878f99;
  }

  .fantasy h2 {
    padding-bottom: .75em;
  }

  .fantasy ul {
    list-style-type: square;
  }
  
  h3 ~ p {
    margin: 0;
  }
  
  /* Media queries
  ------------------------------ */
  